
---
import Layout from '../../layouts/GenreLayout.astro'
import ArtistCard from '../../components/ArtistCard.astro';
---

<Layout 
        title='Alternative'
        genreDefinition='Embrace the diversity of non-mainstream sounds, where artists often push boundaries and defy conventions.' 
        genreImage='url(/img/covers/alternative.webp)'>
    <p></p>
    <ArtistCard imageURL='https://cdn.torten.lol/server/artistsdb/artists/lana-del-ray.png' artistName='Lana Del Ray' artistPage='/artists/lana-del-ray'/>
    <ArtistCard imageURL='https://cdn.torten.lol/server/artistsdb/artists/sewerslvt.png' artistName='Sewerslvt' artistPage='/artists/sewerslvt'/>
    <ArtistCard imageURL='https://cdn.torten.lol/server/artistsdb/artists/arca.png' artistName='ARCA' artistPage='/artists/arca'/>
</Layout>