
---
import Layout from '../../layouts/GenreLayout.astro'
import ArtistCard from '../../components/ArtistCard.astro';
---

<Layout 
        title='Electronic/EDM'
        genreDefinition='Dive into a world of synthesized sounds and electronic beats, from ambient compositions to dance-inducing techno.' 
        genreImage='url(/img/covers/electronic.jpg)'>
    <p></p>
    <ArtistCard imageURL='https://cdn.torten.lol/server/artistsdb/artists/aphex-twin.png' artistName='Aphex Twin' artistPage='/artists/Aphex Twin'/>
    <ArtistCard imageURL='https://cdn.torten.lol/server/artistsdb/artists/sophie.png' artistName='SOPHIE' artistPage='/artists/sophie'/>
    <ArtistCard imageURL='https://cdn.torten.lol/server/artistsdb/artists/skrillex.png' artistName='Skrillex' artistPage='/artists/Skrillex'/>
</Layout>