
---
import Layout from '../../layouts/GenreLayout.astro'
import ArtistCard from '../../components/ArtistCard.astro';
---

<Layout 
        title='Pop'
        genreDefinition='Join the realm of catchy melodies, relatable lyrics, and broad appeal, where pop artists dominate the charts, offering music that is both accessible and enjoyable across different audiences.' 
        genreImage='url(/img/covers/classical.jpg)'>
    <p></p>
    <ArtistCard imageURL='https://cdn.torten.lol/server/artistsdb/artists/slayyyter.png' artistName='Slayyter' artistPage='/artists/slayyyter'/>
    <ArtistCard imageURL='https://cdn.torten.lol/server/artistsdb/artists/ariana-grande.png' artistName='Ariana Grande' artistPage='/artists/ariana-grande'/>
    <ArtistCard imageURL='https://cdn.torten.lol/server/artistsdb/artists/beyonce.png' artistName='Beyonće' artistPage='/artists/beyonce'/>
</Layout>