
---
import Layout from '../../layouts/GenreLayout.astro'
import ArtistCard from '../../components/ArtistCard.astro';
---

<Layout 
        title='R&B (Rhytmn and Blues)'
        genreDefinition='Experience smooth rhythms and soulful vocals, blending jazz, gospel, and blues influences.' 
        genreImage='url(/img/covers/classical.jpg)'>
    <p></p>
    <ArtistCard imageURL='https://cdn.torten.lol/server/artistsdb/artists/beyonce.png' artistName='Beyonće' artistPage='/artists/beyonce'/>
    <ArtistCard imageURL='https://cdn.torten.lol/server/artistsdb/artists/aretha-franklin.png' artistName='Aretha Franklin' artistPage='/artists/aretha-frankline'/>
    <ArtistCard imageURL='https://cdn.torten.lol/server/artistsdb/artists/sza.png' artistName='SZA' artistPage='/artists/sza'/>
</Layout>